.header {
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #263eff;
  width: 100%;
  box-sizing: border-box;
}

.headerNav {
  display: flex;
  justify-content: flex-end;
}
.headerNavUl {
  margin: 0;
  padding: 0;
  display: flex;
}
.headerNavUlLi {
  list-style: none;
}
.headerNavUlLiA {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
}

